@page "/"
@using BlazorLeaflet
@using System.Drawing

@inject IJSRuntime JsRuntime

<div id="mapContainer" style="width: 800px; height: 800px;">
    @if (_map != null)
    {
        <LeafletMap Map="_map" InitialPosition="_startAt" />
    }
</div>

@code {

    private Map? _map;
    private PointF _startAt = new PointF(47.5574007f, 16.3918687f);

    protected override void OnInitialized()
    {
        _map = new Map(JsRuntime);
        
        _map.Layers.Add();
        //
        // // Create the marker
        // var marker = new Marker(0.23f, 32f);
        // marker.Tooltip = new Tooltip { Content = "This is a nice location!" };
        // marker.Icon = new Icon { Url = "... some url" };
        //
        // // Add it to the layers collection
        // _map?.Layers.Add(marker);
        //
        // var rect = new BlazorLeaflet.Models.Rectangle { Shape = new RectangleF(21f, 20f, 10f, 20f) };
        // rect.Fill = true; // This will fill the rectangle with a color
        // rect.FillColor = Color.Red; // Make the filled area red
        // rect.Popup = new Popup { Content = "This is a restricted area!" }; // Create a popup when the area is clicked
        //
        //  // Add it to the layers collection
        // _map.Layers.Remove(rect);
        //
        // _map.FitBounds(new PointF(45.943f, 24.967f), new PointF(46.943f, 25.967f), maxZoom: 5f);
            
    }
}